<div>
    <h3>Please leave feedback!</h3>
    <br>
    <form>
        <label name="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label name="email">Email:</label>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <label name="message">Message:</label>
        <br>
        <textarea type="text" name="message" id="message"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>
<p>
    Or find me at:
    <br><br>
    kevin.tranhuu@revature.com
</p>
<a href="https://github.com/"><img id="gitlogo"
        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="githubLogo" width="50"
        height="20" /></a>