<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>

	<div class="container align-content-center" id="loginForm">
			<form>
				<div class="form-row justify-content-center">
					<h1 class="display-4">Auth-Demo</h1> 
				</div>
				<div id="bottomBorder"class="form-row justify-content-center">
					<h1 class="display-4">Login</h1> 
				</div>
				<hr>
				<br>
				<div class="form-row justify-content-center">
					<label>Username:</label>
				</div>
				<div class="form-row justify-content-center">
					<input class="inputstyle" type="text" name="username" id="username">
				</div>
				<br> 
				<div class="form-row justify-content-center">
					<label>Password:</label> 
				</div>
				<div class="form-row justify-content-center">
					<input class="inputstyle" type="password" name="password" id="password">
				</div>
				<br> <br>
				<div class="form-row justify-content-center">
					<input class="btn btn-primary" value="Login"
						id="submitButton">
				</div>
			</form>
	</div>
	<script src="../scripts/login.js"></script>
</body>
</html>