html{
    padding: 1.5%;
    margin: 0%;
    background-image: linear-gradient(45deg, black 0%, white 50% ,black 100%);
    min-height: 100%
}

body{
    margin: auto;
    padding: 2%px;
    width: 720px;
    background-color: white;
    border: 2px solid black;
    border-radius: 1% 1% 1% 1%;
}

header{
    text-align: center;
    padding: 6%;
    color: white;
    border-bottom: 2px solid black;
    background-image: linear-gradient(45deg, lightgray, #303030);
}

nav{
    border-bottom: 2px solid black; 
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: gray;
    overflow: hidden;
}
nav ul li{
    float: left;
    border-right: 1px solid white;

}
nav ul li:last-child{
    float: right;
    border-left: 1px solid white;
    border-right: none;
}
nav ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 2%;
    border-bottom: 2px solid black;
}

h3{
    text-indent: 2em;
}

footer{
    background-color: gray;
    padding: 1%;
    text-align: right;
}

footer span{
    color: white;
}

